.customer-list {
}


/** LOGOLIST **/

/** Clients-list**/
.client-heading {
    text-align: center;
    color: #153559;
    text-align: center;
}

.client-list {

    min-height: 10em;
    margin: 0 auto;
}
.customer-logo {
width: 150px;
padding: 1em;
text-align: center;
margin-top: 1.3em;


}
.client-logo {
    max-height: 60px;

    max-width: 110px;
 

    filter: grayscale(100%);
    &.client-logo:hover {
        filter: none;
    }
}

.partner-logo {
    text-align: center;
    padding: 1em !important;
    margin-bottom: 2em;
    min-width: 120px;
    max-height: 120px;
    filter: grayscale(100%);
    &.partner-logo:hover {
        filter: none;
    }
}

