/** COLORS **/

    /**primary**/

    $blue: #3C6FE9;  
    $green: #31B096; 
    $yellow: #ebaf41;
    $dark-blue: #153559;
    $dark: #18243f;
    $white: #fff;
    $light-grey: #fafafa;
    
    
    
        /**secondary**/
    
        $blue-hover: #0038ba;  
        $green-hover: #1f7060; 
        $yellow-hover: #F0C161;
        $dark-blue-secondary: #18243F;

@import "home.scss";
@import "team.scss";
@import "header.scss";
@import "customers.scss";
@import "footer.scss";
@import "services.scss";
@import "navigation.scss";


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
    font-size: 18px;
    background: none;
    @media screen and (max-width: 991px) {
        font-size: 16px;

    }
}


body {
    font-family: 'Roboto', sans-serif;

}

div {
    max-width: 100%;
}


    
/** fonts **/
h1, h2, h3, h4, p, li {
    color: $dark-blue;
}    

h1 {
    font-size: 2em;
    line-height: 1.2em;
}

h2 {
    font-weight: 500;
    font-size: 1.8em;
}
h3 {
    font-size: 1.5em;

}

h4,
a.social-contact {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 25px;
}

h4.bold {
    font-weight: 500;
}

p {
    font-size: 1em;
    line-height: 1.7;
}

a {
    list-style: none;
}

/** Lists **/
ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    & li {
        margin-bottom: 1.5em !important;
    }
}


/** ARROW-HEADING **/
.tittel {
    text-align: center;
    margin: 0 auto;
}
.tittel-line {
    stroke: 2px-solid #eee;
    width: 100%;
}

h4.arrow {
    background-color: $white;
    display: inline-block;
    padding: 1em;
    text-transform: uppercase;
    color: #153559;
}

/** ARROW-HEADING " **/
.tittel2 {
    margin: 0 auto;
    text-align: center;
}
.tittel-line {
    stroke: 2px-solid #eee;
    width: 100%;
}

h4.arrow2 {
    background-color: $white;
    display:block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #153559;
}



/** Buttons **/

.btn {
    border: 0px;   
    border-radius: 25px;
    min-width: 200px;
    height: 50px;
    margin-top: 25px;
    font-size: 1em;
    font-weight: 500;
    transition: color .7s ease-in-out,background-color .3s ease-in-out,border-color .1s ease-in-out,box-shadow .15s ease-in-out;
    &-primary {
        background: $blue;
        color: $white;
        &:hover {
            background-color: $blue-hover;
        }
    }
    &-primary.yellow {
        background: $yellow;
        color: $white;
        &:hover {
            background-color: $yellow-hover;
            }
    }
    &-primary.green {
        background: $green;
        color: $white;
        &:hover {
            background-color: $green-hover;
            }
    }
    &-outline-primary {
        border: 2px solid $blue;
        color: $blue;
        &:hover {
            background-color: $blue-hover;
            color: $white;
            border-color: $blue-hover;
  
        }
        
    }
    &-outline-primary.yellow {
        border: 2px solid $yellow;
        color: $yellow;
        &:hover {
        background-color: $yellow-hover;
        color: $white;
        border-color: $yellow-hover;
    }
    }
    &-outline-primary.green {
        border: 2px solid $green;
        color: $green;
        &:hover {
            background-color: $green;
            color: $white;
        }

}

}





/** services-list**/
.service_list li {
    padding-left: 18px;
    margin-left: 1em;
    width: 100%;
}
.fa-li {
    color: $blue;
    padding-right: 18px;
    &.yellow{
        color: $yellow !important;
    }
    &.green{
        color: $green;
    }
}

i.fas,
i.fab {
    color: #3C6FE9;
    padding-right: .5em;
  }




.header-content,
.header-content-img {
    width: 100%;
}

/**NAVIGATION**/

.navbar {
 /*    background: $dark !important; */
    height: 80px;
    .nav-item {
        font-size: 16px;
        font-weight: 300;
        color: $white !important;
        height: 80px;
        padding: 1.9em .8em!important;
        transition: color .4s ease-in-out,background-color .3s ease-in,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        &.nav-link:hover {
            color: $white;
            background: $dark-blue;
        }
        &.nav-link:hover:first-child {
            background: $blue;
        }
        &.nav-link:hover:nth-of-type(3) {
            background: $yellow;
        }
        &.nav-link:hover:nth-of-type(2) {
            background: $green;
        }

        
        &.nav-link.active {
            background: $blue;
        }
}
li.nav-item {
    margin: 0;
    padding: 0;
}
}

.navbar-nav.secondary {
    position: absolute;
    right: 0;
}








/** NAVIGATION**/
.menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 100px;
    background: $dark-blue !important;
    width: 100%;
    z-index: 6;
    ul {
        height: 100px;
        text-align: center;
        margin-right: 150px;
    }
}

.brand{
    display: inline-block;
    width: 20%;
    padding: 1.2em .5em;
    z-index: 10;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    padding-left: 0;
    li {
        height: 100px;
        font-size: 1em;
        margin-top: 0 !important;     
    }
}




a.analytics:hover {
    background: $blue;
}
a.services:hover {
    background: $yellow;
}
a.academy:hover {
    background: $green;
}



.overlay{
    z-index: 5
}

.dropdown-menu{
    width: 100%;
    background: $dark-blue;
    color: $white;
    top: -2px;
    a{
        color: $white;
    }
}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 0;
    margin: 0 auto;
    p {
        font-size: 20px;
      }
    a {
        display: inline-block;
        position: relative;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        overflow: hidden;
        top: 5px;
      }
  }
 
  
  .box a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease;
  }
  .box a:hover:after, .box a:focus:after, .box a:active:after {
    width: 100%;
  }

  
  .button_container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    color: $white;
  }
  .button_container:hover {
    background: $blue;
  }
  .button_container.active {
    .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
                transform: translateY(11px) translateX(0) rotate(45deg);
        background: $white;
      }
      .middle {
        opacity: 0;
        background: #FFF;
      }
      .bottom {
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
                transform: translateY(-11px) translateX(0) rotate(-45deg);
                background: $white;
      }

  } 


  .button_container span {
    background: #fff;
    border: none;
    height: 2px;
    width: 50%;
    position: absolute;
    top: 35px;
    left: 25px;
    transition: all .35s ease;
    cursor: pointer;
    &:nth-of-type(2) {
        top: 46px;
        width: 35%;
      }
    &:nth-of-type(3) {
        top: 58px;
      }  
  }



  .overlay {
    position: fixed;
    background: #18243F;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: .95;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
            animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
            animation-delay: .50s;
  }
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .55s;
            animation-delay: .55s;
  }
  .overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .6s;
            animation-delay: .6s;
  }
  .overlay nav {
    position: relative;
    height: 80%;
    top: 55%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 90%;
    width: 90%;
  }
  .overlay ul li {
    display: block;
    margin-top: .5em;
    height: calc(100% / 8);
    min-height: auto;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    padding: .5em;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    background: #18243F;
    transition: .5s;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

.language-list {
    margin-left: 1em;
    

}
a.language {
    display: inline-block;
    color: $blue !important;
    padding: 25px 5px !important;
    &.nav-link:hover {
        color: $white !important;
        background: $dark-blue;
    }
}

.full-width {
    width: 100%;
    margin: 0;
    padding: 0;
}







/** HEADER **/
.header {
    max-height: 700px;
    margin-bottom: 120px;
    padding-top: 100px;
}
.header-content-img {
    max-height: 700px;
}


/** NEWSLETTER**/
.newsletter {
    text-align: center;
    
}

.social-media-icons {
    margin: 3em auto;
}
.icon {
    margin: 0 .5em;
}
.newsletter-content {
    margin-top: 4em;
}
.newsletter-form {
    max-width: 90%;
}
.form-group {
    margin-top: 4em;
}
.form-control {
    height: 50px;
    width: 100%;
    border: 2px solid #d7d7d7;
    border-radius: 25px;
}
.submit {
    width: 100%;
    margin-top: 0;
}



/** TEAM **/
.main-contact-block {
    padding: 0 !important;
}

.main-contact {
    padding: 0 !important;
    margin-bottom: 2em;
}


img.contact {
    margin-right: 2em;
    border-radius: 15px;
}
h4.title {
    margin-top: 0;
    margin-bottom: 1em;
}

.main-contact-info {
    margin-bottom: 2em;
}
  .phoneto,
  .mailto
   {
      display: block;
      color: $dark-blue;
  }

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
}
 /** NEWSLETTER-media**/
 .newsletter-content {
    width: 40%;
    margin: 4em auto;  
  }
  .form-group {
      display: inline-block;
      width: 40%;
      margin-top: 0;
  }
  .submit {
      display: inline-block;
      width: 175px;
      margin-left: 1em;
  }

  .form-control.contact {
      width: 100%;
  }
  .form-group-contact {
      border-radius: 10px;
  }
  img.contact {
      width: 300px;
      height: 300px;
  }
}