/** COLORS **/
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
/**primary**/

$blue: #3c6fe9;
$red: #e9425e;
$green: #31b096;
$yellow: #ebaf41;
$dark-blue: #153559;
$dark: #18243f;
$white: #fff;
$light-grey: #fafafa;
$grey: #e4e4e4;
$dark-grey: #3b455b;

/**secondary**/

$blue-hover: #0038ba;
$green-hover: #1f7060;
$yellow-hover: #e2970b;
$dark-blue-secondary: #18243f;

@import "home.scss";
@import "team.scss";
@import "header.scss";
@import "customers.scss";
@import "footer.scss";
@import "services.scss";

html {
  font-size: 18px;
  background: none;
  @media screen and (max-width: 991px) {
    font-size: 16px;
  }
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-display: swap;
  color: $dark;
}

div {
  max-width: 100%;
}

/** fonts **/
h1,
h2,
h3,
h4,
p,
li {
  color: $dark;
}

h1 {
  font-size: 2.1em;
  line-height: 1.2em;
}

h2 {
  font-weight: 500;
  font-size: 1.8em;
}
h3 {
  font-size: 1.3em;
  &.white {
    color: $white;
  }
}
h4 {
  margin-bottom: 1em;
}
h4.white {
  color: $white;
}

h4,
a.social-contact {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8em;
  margin-top: 25px;
}

h5 {
  color: $dark-blue;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.8em;
  margin-top: 25px;
  &.center {
    text-align: center;
  }
}

h4.bold {
  font-weight: 400;
}

h4.footer {
  font-weight: 500;
  color: $white;
}
p {
  font-size: 1em;
  line-height: 1.7;
}
p.white {
  color: $white;
}

a {
  list-style: none;
}

a.inline {
  font-weight: 500;
  color: $dark;
  border-bottom: 2px solid #3c6fe9;
  text-decoration: none;
  &-footer {
    font-size: 14px;
    border-bottom: 2px solid #3c6fe9;
    &:hover {
      color: #3c6fe9;
      border-bottom: none;
      text-decoration: none;
    }
  }
}
a.inline:hover {
  color: #3c6fe9;
  border-bottom: none;
  text-decoration: none;
}

/** Lists **/
ul {
  text-decoration: none;
  list-style-type: none;
  padding-left: 0;
  & li {
    margin-bottom: 1em;
  }
}
/* MODALS */
.modal-content {
  background: $white;
  color: $dark;
}
h3.modalheading {
  margin-bottom: 1em;
}

/** ARROW-HEADING **/
.tittel {
  text-align: center;
  margin: 0 auto;
}
.tittel-line {
  stroke: 2px solid #eee;
  width: 100%;
}
.modal-footer {
  padding: 1em;
}
.modal-btn {
  margin: 0 !important;
}

h4.arrow {
  background-color: $white;
  display: inline-block;
  padding: 1em;
  text-transform: uppercase;
  color: #153559;
}
.landing-h2{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.8em;
  margin-top: 25px;
}
.link-anchor { 
  position:relative;
  & span{
    position:absolute; top:-80px;
  }
}

/** ARROW-HEADING " **/
.tittel2 {
  margin: 0 auto;
  text-align: center;
}
.tittel-line {
  stroke: 2px-solid #eee;
  width: 100%;
}

h4.arrow2 {
  background-color: $white;
  display: block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #153559;
}

/** Buttons **/

.btn {
  border: 0px;
  border-radius: 25px;
  min-width: 225px;
  padding: 12px;
  height: 50px;
  margin-top: 25px;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border-color 0.1s ease-in-out, box-shadow 0.15s ease-in-out;

  &-primary {
    background: $blue;
    color: $white;
    &:hover, &:focus, &:active  {
      background-color: $blue-hover;
    }
  }
  &-primary.yellow {
    background: $yellow;
    color: $white;
    &:hover, &:focus, &:active {
      background-color: $yellow-hover !important;
    }
  }
  &-primary.green {
    background: $green;
    color: $white;
    &:hover, &:focus, &:active {
      background-color: $green-hover;
    }
  }
  &-outline-primary {
    border: 2px solid $blue;
    color: $blue;
    padding: 10px;
    &:hover {
      background-color: $blue-hover;
      color: $white;
      border-color: $blue-hover;
    }
  }
  &-outline-primary.yellow {
    border: 2px solid $yellow;
    color: $yellow;
    &:hover {
      background-color: $yellow-hover;
      color: $white;
      border-color: $yellow-hover;
    }
  }
  &-outline-primary.green {
    border: 2px solid $green;
    color: $green;
    &:hover {
      background-color: $green-hover;
      border-color: $green-hover;
      color: $white;
    }
  }
}

/* .main-content-img {
    width: 100%;
    padding: 1em;
} */

.main-content-img {
  margin-bottom: 1em;
  min-width: 250px;
  max-width: 100%;
  padding: 1em auto;
}
/** NEWSLETTER**/
.newsletter {
  text-align: center;
  &.sertifisering img {
    margin:3em auto 0 auto;
  }
}

.social-media-icons {
  margin: 3em auto;
}
.icon {
  margin: 0 0.5em;
}
.newsletter-content {
  margin-top: 2em;
  & h5 {
    font-size: 1em;
  }
  & p {
    font-size: 0.9em;
  }
  & ul {
    text-align: left;
    list-style-type: none;
    margin-left: 10%;
  }
  &.sertifisering ul{
    text-align: left;
    list-style-type: disc;
    margin-left: 10%;
    font-size: 0.9em;
  }
  &.sertifisering {
    margin:2em auto;
  }
}
.newsletter-content ul li {
  margin-bottom: 0;
  & p {
    margin-bottom: 0;
  }
}

.newsletter-form {
  max-width: 90%;
}
.form-group {
  margin-top: 4em;
}
.form-control {
  height: 50px;
  width: 100%;
  border: 2px solid #d7d7d7;
  border-radius: 25px;
}
.submit {
  width: 100%;
  margin-top: 0;
}

/** TEAM **/
.main-contact-block {
  padding: 0 !important;
}

.main-contact {
  padding: 0 !important;
  margin-bottom: 2em;
}

img.contact {
  margin-right: 2em;
  border-radius: 15px;
}
h4.title {
  margin-top: 0;
  margin-bottom: 1em;
}

.main-contact-info {
  margin-bottom: 2em;
}
.phoneto,
.mailto {
  display: block;
  color: $dark-blue;
}

/*  downloadseksjon  */
section.seksjon {
  margin-top: 3em;
  border-top: 1px solid $dark-blue;
  border-bottom: 1px solid $dark-blue;
  /*  border-bottom: 5px solid $blue; */
  padding-top: 0 !important;
}
.download-content {
  margin: 1em auto;
  /*     & h3 {
        color: $blue;
    } */
  & h4 {
    color: $dark-blue;
  }
}
.content {
  display: block;
  width: 50%;
  margin: 0;
  & h4 {
    margin: 0.5em 0;
  }
  & a.btn {
    margin: 1em 0 0 0;
  }
}
.full-widt-container {
  display: block;
  background-color: $light-grey;
  padding: 1em;
  &.white{
    background:white;
  }
  & > .actionCard-container{
    background:white;
    width: 60%;
    justify-content: center;
    & > .content{
      box-shadow: 0 0px 15px 0px rgba(204,204,204,.8);
      border-radius: 5px;
      padding: 1.5em !important;
      width:60%;
    }
  }
}
.fas.btn-icon {
  color: $white;
  padding-left: 12px;
}
.fas.fas-outline {
  color: $blue;
}
.analytics-link {
  text-decoration: none;
  color:inherit;
  &:hover{
    text-decoration: none;
    color:inherit;
  }
}
.mal h5{
  margin: auto;
  text-align:center;
}
.services-landing{
  padding:3em 0;
}
.demo-container{
  margin: auto;
  display:flex;
  flex-direction:row;
  flex-basis: auto;
  flex-wrap:wrap;
  background: #f2f2f2;
  
}
.demo-content{
    flex:1;
    padding:5%;
     & > img{
      margin-bottom: 1.5em !important;
     }
    & > p, & > h3 {
      font-size:0.9em;
    }
}
.demo-img{
  flex:1;
  flex-basis: none;
  display:flex;
  justify-content: center;
  align-items:center;
  min-width:400px;
  img{
    padding: 2em 0;
    max-width:500px;
    width:80%;
    margin:auto;
    display: block;
  }
}
.demo-subcontent{
  
  padding:4em 0;
  margin:0 auto;
  display:flex;
  width:100%;
  max-width:1440px;
  background:white;
  flex-direction:row;
  flex-wrap: wrap;
  flex-basis: auto;
  & >.demo-content{
    min-width:300px;
    padding:1em;
    text-align:center;
    display: flex;
    flex-direction: column;
    & > img{
      width:80%;
      display:block;
      margin:0 auto,

    }
    & > h3, & > h4 {
      margin-top:auto;
      font-weight: 500;
    }
    & > p {
      font-weight:300;
    }
  }
}
.services-modal-btn{
  margin-top:0;
}
@media screen and (min-width: 768px) {
  .content-img {
    width: 50%;
    margin-bottom: 0;
  }
  .content-txt {
    width: 50%;
  }
  .main-content-img {
    max-height: 430px;
  }
}
@media screen and (min-width: 1200px) {
  .header-content-img {
    min-width: 700px;
    position: relative;
  }
  .content-img {
    width: 700px;
  }
  .container {
    max-width: 1440px;
  }
  /** NEWSLETTER-media**/
  .newsletter-content {
    width: 50%;
    margin: 2em auto;
  }
  .mal h5{
    width: 50%;
  }
  .mal > h5 {
    font-size:1em;
    color: #18243f;
  }
  .form-group {
    display: inline-block;
    width: 40%;
    margin-top: 0;
  }
  .submit {
    display: inline-block;
    width: 175px;
    margin-left: 1em;
  }

  .form-control.contact {
    width: 100%;
  }
  .form-group-contact {
    border-radius: 10px;
  }
  img.contact {
    width: 300px;
    height: 300px;
  }
}
.header-content-img {
  padding: 0.5rem !important;
}
.innkjøpspotensiale{
  padding-top:0;
  overflow:auto;
  height:100%;
  width:100%;
}
.innkjøpspotensiale-html{
  overflow:hidden;
}
.embed{
  height:100%;
  overflow-x:hidden !important;
  overflow-y:auto !important;
}
.embed::-webkit-scrollbar{
  width: 1px;
  background-color: transparent;
  display:none;
}
@media screen and (max-width: 991px) {
  .demo-container{
    flex-wrap:wrap-reverse;
    background:#f2f2f2f2;
  }
  .omoss-top > .image-before-text{
    flex-direction:column-reverse !important;
  }
  .demo-img{
    flex-basis:auto;
    min-width:initial;
    & > img{
      max-width:90vw;
    }
  }
  .analytics-landing,
  .academy-landing,
  .services-landing,
  .mal-landing {
    flex-direction: column-reverse !important;
  }
  .header {
    display: block;
    padding-top: 0;
  }
  .header-content {
    max-height: 1000px;
    margin-bottom: 0em;
  }
  .header-content-img {
    max-height: 500px;
    max-width: 500px;
    position: relative;
    &.services {
      display: none;
    }
  }

  .content {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .header {
    width: 100% !important;
    flex-direction: column;
  }
  .header-content {
    width: 100%;
  }
  .header-content-img {
    width: 100%;
    position: relative;
  }
}
