/** COLORS **/

    /**primary**/

    $blue: #3C6FE9;  
    $green: #31B096; 
    $yellow: #ebaf41;
    $dark-blue: #153559;
    $dark: #18243f;
    $white: #fff;
    $light-grey: #fafafa;
    
    
    
        /**secondary**/
    
        $blue-hover: #0038ba;  
        $green-hover: #1f7060; 
        $yellow-hover: #F0C161;
        $dark-blue-secondary: #18243F;

@import "home.scss";
@import "team.scss";
@import "header.scss";
@import "customers.scss";
@import "footer.scss";
@import "services.scss";
@import "navigation.scss";


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
    font-size: 18px;
    background: none;
    @media screen and (max-width: 991px) {
        font-size: 16px;

    }
}


body {
    font-family: 'Roboto', sans-serif;

}

div {
    max-width: 100%;
}

    
/** fonts **/
h1, h2, h3, h4, p, li {
    color: $dark-blue;
}    

h1 {
    font-size: 2em;
    line-height: 1.2em;
}

h2 {
    font-weight: 500;
    font-size: 1.8em;
}
h3 {
    font-size: 1.5em;
    &.white {
        color: $white;
    }

}
h4 {
    margin-bottom: 1em;
}
h4.white {
    color: $white;
}

h4,
a.social-contact {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 25px;
}
h5 {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.8em;
    margin-top: 25px;
    &.center {
        text-align: center;
    }
}

h4.bold {
    font-weight: 400;
    }

h4.footer {
    font-weight: 500;
    color: $white;
}
p {
    font-size: 1em;
    line-height: 1.7;
}
p.white {
    color: $white;
}

a {
    list-style: none;
}

a.inline {
    font-weight: 500;
    color: #000;
    border-bottom: 2px solid #3C6FE9;
    text-decoration: none;
}
a.inline:hover {
    color: #3C6FE9;
    border-bottom: none;
    text-decoration: none;
}

.footer-title {
    color: $white;
    font-size: 1.2em;
    font-weight: 400;
}

/** Lists **/
ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    & li {
        margin-bottom: 1em;
    }
}
/* MODALS */
.modal-content {
    background: $dark;
    color: $white;
}

/** ARROW-HEADING **/
.tittel {
    text-align: center;
    margin: 0 auto;
}
.tittel-line {
    stroke: 2px-solid #eee;
    width: 100%;
}

h4.arrow {
    background-color: $white;
    display: inline-block;
    padding: 1em;
    text-transform: uppercase;
    color: #153559;
}

/** ARROW-HEADING " **/
.tittel2 {
    margin: 0 auto;
    text-align: center;
}
.tittel-line {
    stroke: 2px-solid #eee;
    width: 100%;
}

h4.arrow2 {
    background-color: $white;
    display:block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #153559;
}



/** Buttons **/

.btn {
    border: 0px;   
    border-radius: 25px;
    min-width: 225px;
    padding: 11px;
    height: 50px;
    margin-top: 25px;
    font-size: 1em;
    font-weight: 500;
    transition: color .7s ease-in-out,background-color .3s ease-in-out,border-color .1s ease-in-out,box-shadow .15s ease-in-out;
    &-primary {
        background: $blue;
        color: $white;
        &:hover {
            background-color: $blue-hover;
        }
    }
    &-primary.yellow {
        background: $yellow;
        color: $white;
        &:hover {
            background-color: $yellow-hover;
            }
    }
    &-primary.green {
        background: $green;
        color: $white;
        &:hover {
            background-color: $green-hover;
            }
    }
    &-outline-primary {
        border: 2px solid $blue;
        color: $blue;
        &:hover {
            background-color: $blue-hover;
            color: $white;
            border-color: $blue-hover;
  
        }
        
    }
    &-outline-primary.yellow {
        border: 2px solid $yellow;
        color: $yellow;
        &:hover {
        background-color: $yellow-hover;
        color: $white;
        border-color: $yellow-hover;
    }
    }
    &-outline-primary.green {
        border: 2px solid $green;
        color: $green;
        &:hover {
            background-color: $green;
            color: $white;
        }

}

}

/** MAIN **/

.Services {
    padding: 0 !important;
    flex: 1;
}
.Service {
    height: 500px;
    width: 70%;
    padding: 0 !important;
    position: relative;  
    margin: 3em auto;   
    z-index: 1;
}

.Service:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(500px - 50px);
    width: 100%;  
    border: 2px solid $dark-blue;
    border-radius: 15px;
    flex: 1;
    background: #fff;
    z-index: -1;
/*     &:nth-of-type(1) {
        border-color: $blue!important;
    }
    &:nth-of-type(2) {
        border: 2px solid $yellow !important;
    }
    &:nth-of-type(3) {
        border-color: $green !important;
    } */
}

/*     &:nth-of-type(1) {
        border-color: $blue!important;
    }
    &:nth-of-type(2) {
        border: 2px solid $yellow !important;
    }
    &:nth-of-type(3) {
        border-color: $green !important;
    } */

.Service:after:nth-of-type(2) {
    border-color: $yellow !important;
} 
.service-inner {
    
    height: 500px;
    padding: 0 10px;
    z-index: 2;
    flex: 1;

    
}


figure.service_illustration {
    margin: 0 auto 10px;
    width: 190px;
    height: 100px;
    background: #fff;


}
.service_title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
}
.Service.academy:after {
    border: 2px solid #31B096;
}
.Service.services:after {
    border: 2px solid #EBAF41;
}
h4.service_title {
    color: #153559;
}



/** services-list**/
.service_list li {
    padding-left: 18px;
    margin-left: 1em;
    width: 100%;
}
.fa-li {
    color: $blue;
    padding-right: 18px;
    &.yellow{
        color: $yellow !important;
    }
    &.green{
        color: $green;
    }
}

i.fas,
i.fab {
    color: #3C6FE9;
    padding-right: .5em;
  }




.header-content,
.header-content-img {
    width: 100%;
}











/* MAIN SERVICES */

.service-btns {

    position: absolute;
    bottom: 1em;
    width: 43%;
    right: 30px;
 

}
.service-btns2 {
    position: absolute;
    bottom: 1em;
    width: 43%;
    left: 30px;


}
/** HEADER **/
.header {

    margin-bottom: 3em;

}
.header-content-img {
    max-height: 700px;
}


/** NEWSLETTER**/
.newsletter {
    text-align: center;
    
}

.social-media-icons {
    margin: 3em auto;
}
.icon {
    margin: 0 .5em;
}
.newsletter-content {
    margin-top: 4em;
    & ul {
        text-align: left;
        list-style-type: disc;
        margin-left: 10%;
    }
  }

.newsletter-form {
    max-width: 90%;
}
.form-group {
    margin-top: 4em;
}
.form-control {
    height: 50px;
    width: 100%;
    border: 2px solid #d7d7d7;
    border-radius: 25px;
}
.submit {
    width: 100%;
    margin-top: 0;
}



/** TEAM **/
.main-contact-block {
    padding: 0 !important;
}

.main-contact {
    padding: 0 !important;
    margin-bottom: 2em;
}


img.contact {
    margin-right: 2em;
    border-radius: 15px;
}
h4.title {
    margin-top: 0;
    margin-bottom: 1em;
}

.main-contact-info {
    margin-bottom: 2em;
}
  .phoneto,
  .mailto
   {
      display: block;
      color: $dark-blue;
  }

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
}
 /** NEWSLETTER-media**/
 .newsletter-content {
    width: 40%;
    margin: 4em auto; 

  }
  .form-group {
      display: inline-block;
      width: 40%;
      margin-top: 0;
  }
  .submit {
      display: inline-block;
      width: 175px;
      margin-left: 1em;
  }

  .form-control.contact {
      width: 100%;
  }
  .form-group-contact {
      border-radius: 10px;
  }
  img.contact {
      width: 300px;
      height: 300px;
  }
  .Service {
    width: 30%;
    height: 680px;
    margin: 0 auto;
}
.Service:after {
    height: 625px;
}
.service-btns {

    position: absolute;
    width: 77%;
    bottom: .7em;
    left: 11% !important;


}
.service-btns2 {
    position: absolute;
    width: 77%;
    bottom: 80px;
    left: 11% !important;

}


}

/* SERTIFISERINGSBLOKK */


@media (max-width: 991px) {

.header {
    display: block;
    padding-top: 0;

}
.header-content {

    max-height: 1000px;

    margin-bottom: 0em;

}
.header-content-img {

    max-height: 500px;
    max-width: 500px;

}
.Service {
    width: 70%;
    height: 530px;
    margin: 3em auto;
}
.Service:after {
    height: 490px;
}
.service-btns {

    position: absolute;
    width: 87%;
    bottom: 0;
    left: 6% !important;


}
.service-btns2 {
    position: absolute;
    width: 87%;
    bottom: 80px;
    left: 6% !important;

}
}
@media (max-width: 767px) {
    .Service {
        width: 90%;
        height: 560px;
        margin: 3em auto;
    }
    .Service:after {
        height: 500px;
    }
    .service-btns {
    
        position: absolute;
        bottom: 20px;

    
    
    }
    .service-btns2 {
        position: absolute;
        bottom: 90px;

    
    }
    
}
@media (max-width: 505px) {
    .btn {
        width: 100%;
    }
    .Service {
        width: 90%;
        height: 630px;
        margin: 3em auto;
    }
    .Service:after {
        height: 580px;
    }
    .service-btns {
    
        position: absolute;
        width: 87%;
        bottom: 7px;
        left: 6% !important;
    
    
    }
    .service-btns2 {
        position: absolute;
        width: 87%;
        bottom: 70px;
        left: 6% !important;
    
    }

  
    
}