/** MAIN **/

.Services {
  padding: 0 !important;
  flex: 1;
}

.Service {
  height: 100%;
  width: 70%;
  padding: 0 !important;
  position: relative;
  margin: 3em auto;
  z-index: 1;
}
.Service:after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  height: calc(100% - 50px);
  width: 100%;
  border: 2px solid $blue;
  border-radius: 15px;
  flex: 1;
  background: #fff;
  z-index: -1;
}
.Service:nth-of-type(2):after {
  border: 2px solid $green;
}
.Service:nth-of-type(3):after {
  border: 2px solid $yellow;
}

.service-inner {
  height: 500px;
  padding: 0 10px;
  z-index: 2;
  flex: 1;
}

.bullet {
  margin-bottom: 3em;
  margin-top: 1em;
  & ul {
    margin-top: 1em;
    list-style-type: disc !important;
    padding-left: 18px;
  }
  & p {
    margin-bottom: 1em;
  }
  & h1,
  h2,
  h3 {
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  & a {
    border-bottom: 2px solid #3c6fe9;
    text-decoration: none;

    &:hover {
      color: #3c6fe9;
      border-bottom: none;
      text-decoration: none;
    }
  }
}

figure.service_illustration {
  margin: 0 auto 10px;
  width: 190px;
  height: 100px;
  background: #fff;
}
.service_title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 18px;
}

h4.service_title {
  color: #153559;
}

/** services-list**/
.service_list li {
  padding-left: 18px;
  margin-left: 1em;
  width: 100%;
}
.fa-li {
  color: $blue;
  padding-right: 18px;
  &.yellow {
    color: $yellow !important;
  }
  &.green {
    color: $green;
  }
}

i.fas,
i.fab {
  width: 20px;

  color: #3c6fe9;
  margin-right: 0.7em;
}
/* MAIN SERVICES */

.service-btns {
  position: absolute;
  bottom: 1em;
  width: 43%;
  right: 30px;
}
.service-btns2 {
  position: absolute;
  bottom: 1em;
  width: 43%;
  left: 30px;
}
/* SERVICES-BLOCK */

.servicesblock {
  height: auto;
  display: flex;
}
.servicesblock > .flex.column{
  flex:1;
  display: flex;
  flex-direction:column;
}
.servicesblock > .flex.column > .align-items-center {
  margin-top:auto;
}
.service-btns4 {
  position: relative;
  width: 50%;
  margin:0 auto;
  bottom:0;
}
.service-btns3 {
  position: absolute;
  width: 50%;
  bottom: 80px;
  left: 25% !important;
}
.services {
  text-align: center;
  border-radius: 15px;
}
.description-block {
  bottom: 0;
  margin-bottom: 2em;
}

.services-logo {
  height: 100px;
  text-align: center;
  padding: 0.8em !important;
  margin: 0 auto;
}
#service-btn {
  text-align: center;
}

@media (min-width: 1200px) {
  img.contact {
    width: 300px;
    height: 300px;
  }
  .Service {
    width: 30%;
    height: 100%;
    margin: 0 auto;
  }
  .Service:after {
    height: calc(100% - 40px);
  }
  .service-btns {
    position: absolute;
    width: 77%;
    bottom: 0.7em;
    left: 11% !important;
  }
  .service-btns2 {
    position: absolute;
    width: 77%;
    bottom: 80px;
    left: 11% !important;
  }
}

/* SERTIFISERINGSBLOKK */
@media (max-width: 1200px) {
  .servicesblock {
    height: 350px;
  }
  .Service {
    width: 55%;
    height: 100%;
    margin: 3em auto;
  }
  .service-btns {
    position: absolute;
    width: 87%;
    bottom: 0;
  }
}
@media (max-width: 991px) {
  .Service {
    width: 70%;
    height: 100%;
    margin: 3em auto;
  }
  .Service:after {
    height: calc(100% - 50px);
  }
  .service-btns {
    position: absolute;
    width: 87%;
    bottom: 0;
    left: 6% !important;
  }
  .service-btns2 {
    position: absolute;
    width: 87%;
    bottom: 80px;
    left: 6% !important;
  }
}
@media (max-width: 767px) {
  .Service {
    width: 90%;
    height: 100%;
    margin: 3em auto;
  }
  .Service:after {
    height: calc(100% - 50px);
  }
  .service-btns {
    position: absolute;
    bottom: 20px;
  }
  .service-btns2 {
    position: absolute;
    bottom: 90px;
  }
  .servicesblock {
    height: 350px;
    margin-bottom: 2em;
  }
  .service-btns3 {
    position: absolute;
    width: 87%;
    bottom: 0;
    left: 6% !important;
  }
  .service-btns4 {
    position: absolute;
    width: 87%;
    bottom: 80px;
    left: 6% !important;
  }
}
@media (max-width: 505px) {
  .btn {
    width: 100%;
  }
  .Service {
    width: 90%;
    height: 100%;
    margin: 3em auto;
  }
  .Service:after {
    height: calc(100% - 20px);
  }
  .service-btns,
  .service-btns4 {
    position: absolute;
    width: 87%;
    bottom: 7px;
    left: 6% !important;
  }
  .service-btns2,
  .service-btns3 {
    position: absolute;
    width: 87%;
    bottom: 70px;
    left: 6% !important;
  }
  .servicesblock {
    margin-bottom: 2em;
  }
}
