<section class="full-widt-container white">
        <div class="container d-flex actionCard-container">
            <div class="p-2 content">
                <div class=" pr-5 ">
                    <h3>{{ .Params.header }}</h3>
                </div>
                <div class="pr-5 ">
                    <h4>{{ .Description }}</h4>
                </div>
                <div> 
                        {{ .Content}}                        
                </div>
            </div>     
        </div>                 
</section>