<div id="attentionFab">
    <a href="{{.Params.link}}"><i class="fas fa-calculator btn-icon"></i><span>{{.Params.buttonText}}</span></a>
    <div class="fabContent">
            <div class="pr-5">
                <h3>{{ .Params.header }}</h3>
            </div>
            <div class="pr-5">
                <h4>{{ .Description }}</h4>
            </div>
    </div>
    <script>
        setTimeout(() => {
            document.querySelector('#attentionFab').classList.add('active')
        },8000)
        
    </script>
</div>