<!-- Tittel-->
<div class="container">
    {{ partial "tittel.html" . }} 
  </div>
  <section class="slideshow-customers customer-container" id="showcase-key-{{.Params.key}}">
      <button id="left-slide" role="button" name="slideshow-left"><i class="fas fa-chevron-left"></i></button>
      <div class="slide">
        <div id="slideshow">
        </div>
      </div>
      <button id="right-slide" role="button" name="slideshow-right"><i class="fas fa-chevron-right"></i></button>
      <script>
        (function(){
        const customerimages = [
          {{ range .Params.Customers }}
            {
              src: '{{ .logo | absURL}}',
              alt: '{{ .title}}',
            },
          {{end}}
        ],
        parent = document.querySelector("#showcase-key-{{.Params.key}}"),
        slideshow = parent.querySelector('#slideshow'),
        customerlen = customerimages.length;

        let index = 0,
        isAnimating = false;
        customerimages.forEach((image, i) => {
          slideshow.innerHTML += `<img class="single-slide-customer ${i > 3 ? 'shrink' : ''}" src="${i < 4 ? image.src : '//:0'}" data-index="${i}" data-src="${image.src}" alt="${image.alt}"/>`
        });

        function findIndex(directionalPoints){
          let i = index,
          negative = directionalPoints < 0;
          for(var y = negative ? Math.abs(directionalPoints) : directionalPoints; y > 0; y--){
            if(negative){ i = i === 0 ? customerlen-1 : i-1 }
            else{ i = i === customerlen-1 ? 0 : i + 1}
          }
          return i;
        }
        function left(){
          if(isAnimating) return;
          isAnimating = true;
          if(parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).src !== parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).getAttribute('data-src')){
            parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).src = parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).getAttribute('data-src')
          }
          parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`)
          parent.querySelector(`.single-slide-customer[data-index="${findIndex(3)}"]`).classList.add('shrink');
          parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).style.order =  Number(parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).style.order) - 1;
          parent.querySelector(`.single-slide-customer[data-index="${findIndex(-1)}"]`).classList.remove('shrink');
          index = findIndex(-1);
          isAnimating = false;
        }
        function right(){
          if(isAnimating) return;
          isAnimating = true;
          if(parent.querySelector(`.single-slide-customer[data-index="${findIndex(4)}`).src !== parent.querySelector(`.single-slide-customer[data-index="${findIndex(4)}"]`).getAttribute('data-src')){
            parent.querySelector(`.single-slide-customer[data-index="${findIndex(4)}"]`).src = parent.querySelector(`.single-slide-customer[data-index="${findIndex(4)}"]`).getAttribute('data-src')
          }
          parent.querySelector(`.single-slide-customer[data-index="${index}"]`).classList.add('shrink');
          parent.querySelector(`.single-slide-customer[data-index="${index}"]`).style.order =  Number(parent.querySelector(`.single-slide-customer[data-index="${index}"]`).style.order) + 1
          parent.querySelector(`.single-slide-customer[data-index="${findIndex(4)}"]`).classList.remove('shrink');
          index = findIndex(1);
          isAnimating = false
        }
        parent.querySelector('#left-slide').addEventListener('click' , left, true);
        parent.querySelector('#right-slide').addEventListener('click' , right, true);
      })()
      </script>
  </section>
  