<!-- Tittel-->
<div class="container">
    {{ partial "tittel.html" . }} 
  </div>
  <section class="slideshow-customers">
      <button id="left-slide"><i class="fas fa-chevron-left"></i></button>
      <div class="slide">
        <div id="slideshow">
        </div>
      </div>
      <button id="right-slide"><i class="fas fa-chevron-right"></i></button>
        <script>
          const customerimages = [
            {{ range .Params.Customers }}
              {
                src: '{{ .logo | absURL}}',
                alt: '{{ .title}}',
              },
            {{end}}
          ],
          slideshow = document.querySelector('#slideshow'),
          customerlen = customerimages.length;
  
          let index = 0,
          isAnimating = false;
          customerimages.forEach((image, i) => {
            slideshow.innerHTML += `<img class="single-slide ${i > 3 ? 'shrink' : ''}" src="${i < 4 ? image.src : "none"}" data-index="${i}" data-src="${image.src}" alt="${image.alt}"/>`
          });

          function findIndex(directionalPoints){
            let i = index,
            negative = directionalPoints < 0;
            for(var y = Math.abs(directionalPoints); y > 0; y--){
              if(negative){ i = i === 0 ? customerlen-1 : i-1 }
              else{ i = i === customerlen-1 ? 0 : i + 1}
            }
            return i;
          }
          function left(){
            if(isAnimating) return;
            isAnimating = true;
            if(document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).src !== document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).getAttribute('data-src')){
              document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).src = document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).getAttribute('data-src')
            }
            document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`)
            document.querySelector(`.single-slide[data-index="${findIndex(3)}"]`).classList.add('shrink');
            document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).style.order =  Number(document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).style.order) - 1;
            document.querySelector(`.single-slide[data-index="${findIndex(-1)}"]`).classList.remove('shrink');
            setTimeout(() => {
              index = findIndex(-1);
              isAnimating = false;
            },500)
          }
          function right(){
            if(isAnimating) return;
            isAnimating = true
            if(document.querySelector(`.single-slide[data-index="${findIndex(4)}`).src !== document.querySelector(`.single-slide[data-index="${findIndex(4)}"]`).getAttribute('data-src')){
              document.querySelector(`.single-slide[data-index="${findIndex(4)}"]`).src = document.querySelector(`.single-slide[data-index="${findIndex(4)}"]`).getAttribute('data-src')
            }
            document.querySelector(`.single-slide[data-index="${index}"]`).classList.add('shrink');
            document.querySelector(`.single-slide[data-index="${index}"]`).style.order =  Number(document.querySelector(`.single-slide[data-index="${index}"]`).style.order) + 1
            document.querySelector(`.single-slide[data-index="${findIndex(4)}"]`).classList.remove('shrink');
            setTimeout(() => {
              index = findIndex(1);
              isAnimating = false
            },500)
          }
          document.querySelector('#left-slide').addEventListener('click' , left, true);
          document.querySelector('#right-slide').addEventListener('click' , right, true);
        </script>
      </div>
    </div>
  </section>
  