
  <section class="container Services wrap d-flex p-2 bd-highlight flex-column flex-lg-row align-items-center justify-content-between flex-wrap">
     
        {{ range .Pages }}
                 <article class="Service flex-column analytics p-2 bd-highlight main-wrap">
                     <div class="service-link">
                    <div class="service-inner flex column flex-fill">
                        <figure class="service_illustration">
                                <img class="" src="{{ .Params.logo }}">
                        </figure>
                    
                        
                     <div class="description-block px-4">
                          <h5>{{ .Description }}</h5>
                    </div>
                    <div class="row px-4 align-items-center">
                        {{ .Content }} 
                    </div>
                </div>
            </div>
                    
            </article>
            
            {{ end }}
        </section>
        
        