<section class="newsletter">
  <img class="newsletter-img" src="{{ .Params.image }}" width="255px;">
  <div class="newsletter-content">
        <h2>{{ .Params.header }}</h2>
        <h4>{{ .Description }}</h4>
    <div class="">
        <script>
         hbspt.forms.create({
          portalId: "4304957",
          formId: "b46283cb-637c-46a5-8b9c-4cb06bc46bd3"
          });
          </script>  
           <div class="social-media-icons">
              <a href="https://www.facebook.com/igniteprocurement/" target="_blank"><img class="icon" src="/images/icons/facebook.svg" alt="Follow us on facebook" width="40px"></a>
               <a href="https://www.linkedin.com/company/ignite-procurement/" target="_blank"><img class="icon" src="/images/icons/linkedin.svg" alt="Follow us on linkedin" width="40px"></a>
          </div> 
    </div>                     
</section>
