<!-- Tittel-->
<div class="container pt-5">
        {{ with .Site.GetPage "tjenester-tittel" }}
        {{ partial "tittel.html" . }}
        {{ end }}
</div>
<section class="pt-5">
<div class="container row">
    {{ range .Pages }}
    <article class="servicesblock col-sm-12 col-xl-4 wrap pr-4">            
        <div class="flex column ">
            <figure class="service_illustration">
               <img class="services-logo" src="{{ .Params.logo }}" alt="Ignite Services">
            </figure>   
              <div class="description-block px-4">
                   <h5 class="center">{{ .Description }}</h5>
             </div>
             <div class="row px-4 align-items-center">
                 {{ .Content }} 
             </div>
             
      </div>
</article> 
     {{ end }}
    </div>
</section>