<div class="container">

  <div class="">
    <h1 class="head">{{.Title}}</h1>
    <div class="row">
      {{ range .Pages.ByWeight }}
      <div class="card">
        <img
          class="card-img-top"
          src="{{ .Params.image }}"
          alt="{{ .Params.Alt }}"
        />
        <div class="card-content">
          <h4 class="bold title team-title">{{ .Title }}</h4>
          <h5 class="team-title">{{ .Params.position }}</h5>
          {{ .Content }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
