{{ define "main" }}
<section class="container d-flex bd-highlight flex-column flex-lg-row align-items-center mb-5">
        <div class="header-content p-2 flex-fill bd-highlight pr-sm-3 pr-lg-5">
                        <h1>Ignite <span style="color:#3c6fe9;">Analytics</span></h1>
                        <h4>{{.Description}}</h4>  
                        {{ .Content }}                        
                      
        </div>            
        <div class="header-content-img p-2 flex-fill bd-highlight pl-sm-3 pl-lg-5">
                <img class="" src="{{ .Params.Image }}">
         </div>
</section>  
<section class="seksjon">
        {{ with .Site.GetPage "/seksjoner/downloadseksjon" }}
        {{ partial "sections/downloadseksjon.html" . }}
        {{ end }}
</section>
<section class="container">
        <section class="container">
                {{ with .Site.GetPage "item1" }}
                {{ partial "sections/infoblock.html" . }}
                {{ end }}
        </section>
        <section class="container">
                {{ with .Site.GetPage "item2" }}
                {{ partial "sections/infoblock-reverse.html" . }}
                {{ end }}
        </section>
        <section class="">
                {{ with .Site.GetPage "item3" }}
                {{ partial "sections/infoblock.html" . }}
                {{ end }}
  
        </section>
         <section class="">
                {{ with .Site.GetPage "item4" }}
                {{ partial "sections/infoblock-reverse.html" . }}
                {{ end }}
  
         </section>
</section>
<section class="container">
         {{ with .Site.GetPage "newsletter" }}
         {{ partial "sections/newsletter.html" . }}
         {{ end }}
  </section>
{{ end }}
