<!DOCTYPE html>
<html lang="no" class="bg-white">
    {{block "head" . }}
        {{ partial "head.html" . }}
    {{end}}
    <body class="bg-white">
        {{ partial "header.html" . }}
        <div class="nav-padding" id="content">
        {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer.html" . }}
    <!-- Start of HubSpot Embed Code -->
<!--     <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4304957.js"></script>
 -->    <!-- End of HubSpot Embed Code -->
    </body>
</html>