{{define "head"}}
{{ partial "blogg/head.html" .}}
{{end}}
{{ define "main" }}
    <link rel="stylesheet" href="/css/medium.css">	
    <div class="main-content">
        <!-- Begin Article
        ================================================== -->
        <div class="container">
            <div class="row">
                <!-- Post Share -->
                <div class="col-md-2 pl-0">      
                    {{- partial "blogg/share.html" . -}}
                </div>
                <!-- Post -->                
                <div class="col-md-9 flex-first flex-md-unordered">
                    <div class="mainheading">    
                        <!-- Post Title -->
                        <h1 class="posttitle">{{ .Title }}</h1> 
                        <h3 class="ingress">{{ .Params.ingress }}</h3> 
                    </div>

                    <!-- Post Featured Image -->
                    {{with .Params.image}}
                        <img draggable=false class="featured-image img-fluid" src="{{ . | urlize | relURL }}" alt="thumbnail for this post">
                    {{end}}
                    <!-- End Featured Image -->
                     <!-- Author Box -->
                     {{$author := (index .Site.Data.authors .Params.author)}}	
                     {{if $author}}
                     <div class="row post-top-meta">
                         <div class=" thumb-parent col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0 md-nopad-right">
                             <img class="author-thumb" src="{{ $author.image }}" alt="{{ $author.title }}">
                         </div>
                         <div class="col-xs-12 col-md-9 col-lg-10 text-md-left md-nopad-left">
                             <a target="_blank" class="link-dark">{{ $author.title }}</a><br>
                             <span class="author-description">
                                 {{ $author.position  }}<br>
                                 <i class="far fa-star"></i>
                                 {{ dateFormat "Jan 2, 2006" .PublishDate }}
                                 <i class="far fa-clock clock"></i>
                                 {{ math.Round (div (countwords .Content) 220.0) }} min read
                             </span>					
                         </div>
                     </div>			
                     {{end}}                     
                    <!-- Post Content -->
                    <div class="article-post">
                        {{ .Content}}
                    </div>
                    
                    <!-- Post Categories -->
                    <div class="after-post-tags">
                        <ul class="tags">
                        {{ range .Params.tags }}
                        <li>
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{.}}</a>
                        </li>
                        {{ end }}
                        </ul>
                    </div>
                    <!-- End Categories -->
                    
                    <!-- Next and PrevPage inside current section -->
                    <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
                    {{with .NextInSection}}
                        <a class="d-block " href="{{.Permalink}}"> &laquo; {{.Title}}</a>
                    {{end}}
                    {{with .PrevInSection}}
                        <a class="d-block  text-lg-right left-auto" href="{{.Permalink}}">{{.Title}} &raquo;</a>
                    {{end}}
                    <div class="clearfix"></div>
                    </div>
                    <!-- End Next and PrevPage -->
                </div>
                <!-- End Post -->
            </div>
        </div>
    <!-- End Article
    ================================================== -->
{{ end }}