<section id="footer">
    <div class="container">
        
        <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-6 col-md-3">
            
                               <ul class="list-unstyled quick-links">
                                   {{ $currentPage := . }}
                                   {{ range .Site.Menus.services }}
                                       <li><a href="{{ .URL }}"></i>{{ .Name }}</a></li>
                                   {{ end }}
                               </ul>
                           </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              
                <ul class="footer-list list-unstyled quick-links">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <li><a href="{{ .URL }}"></i>{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                      
                       <ul class="list-unstyled quick-links">
                           {{ $currentPage := . }}
                           {{ range .Site.Menus.secondary }}
                               <li><a href="{{ .URL }}"></i>{{ .Name }}</a></li>
                           {{ end }}
                       </ul>
                   </div>



<div class="footer-social col-xs-12 col-sm-12 col-md-3">
        {{ with .Site.GetPage "social-links" }}
        <img class="footer-logo center" src="{{ .Params.Image }}">            
        {{ end }}
        <div class="footer-icons">
         <a class="social-icon" href="https://www.facebook.com/igniteprocurement" target="_blank"><i class="fa fa-lg fa-facebook social"></i></a>
            <a class="social-icon" href="https://www.linkedin.com/company/ignite-procurement/" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a>
        </div>
</div> 
</div>
        <div class="row mt-10">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <div>  {{ with .Site.GetPage "personvern" }}
                    {{ .Content  }}            
                    <a class="inline" href="{{ .URL }}"></i>{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
            </hr>
        </div>
    </div>	
    
</section>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>