<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/images/icons/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
	
	<!-- For Facebook -->
	<meta property="og:title" content="Ignite Procurement" />
	<meta property="og:url" content="https://www.ignite.no/" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Vi hjelper deg med å optimalisere dine innkjøp ved hjelp av vårt verktøy Ignite Analytics og våre konsulenter som er eksperter på strategiske innkjøp" />
	<meta property="og:image" content="https://www.ignite.no/images/ignitesite.jpg" />
	
	<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)		
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?		
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};		
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';		
		n.queue=[];t=b.createElement(e);t.async=!0;		
		t.src=v;s=b.getElementsByTagName(e)[0];	
		s.parentNode.insertBefore(t,s)}(window,document,'script',		
		'https://connect.facebook.net/en_US/fbevents.js');		
		fbq('init', '274783146767586'); 		
		fbq('track', 'PageView');		
		</script>		
		<noscript>		
		<img height="1" width="1" 		
		src="https://www.facebook.com/tr?id=274783146767586&ev=PageView		
		&noscript=1"/>	
		</noscript>		
		<!-- End Facebook Pixel Code -->
	<!-- Hotjar Tracking Code for www.ignite.no -->
	<script>
	(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:1131664,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
	})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

<!-- Global site tag (gtag.js) - Google Analytics --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116335094-1"></script> 
<script> 
  window.dataLayer = window.dataLayer || []; 
  function gtag(){dataLayer.push(arguments);} 
  gtag('js', new Date()); 
  gtag('config', 'UA-116335094-1'); 
</script> 
	{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
	{{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}

	<link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">

	<title>Ignite Procurement</title>
</head>
<body>
<script src="js/navigation.js"></script>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/navigation.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4304957.js"></script>
		<!-- End of HubSpot Embed Code -->
	<!-- Linkedin -->		
<script type="text/javascript"> _linkedin_partner_id = "985004"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=985004&fmt=gif" /> </noscript>


</body>