<nav class="menu">
        <div class="container">
            <div>
                <ul class="nav-list">
                    <a class="navbar-brand" href='{{ "/" | relLangURL }}'>
                        <img class="header-logo" src="{{ $.Site.Params.logo }}" alt="Ignite Procurement Logo" /> 
                    </a>
                        {{range .Site.Menus.content }}
                            {{$menuitem := .}}
                            {{if not (isset $menuitem "onlyfooter")}}
                                {{if .HasChildren}}
                                <li class='nav-item dropdown {{if isset . "classes" }}{{.classes}}{{end}}'>
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{ .Title }}
                                        </a>
                                        <div class="dropdown-submenu" >
                                            {{ range .Children }}
                                            <a class="dropdown-item" href="{{ .URL }}">{{ .Title }}</a>
                                            {{ end }}
                                        </div>
                                    </li>
                                {{else}}
                                <li class='nav-item {{if isset . "classes" }}{{.classes}}{{end}}'>
                                    <a class="nav-link nav-services" href="{{ .URL }}">{{ .Title }}</a>
                                </li>
                                {{end}}
                            {{end}}
                        {{end}}
       
                        <div class="language-list nav-right">
                            {{ if .Site.IsMultiLingual }}
                                {{ range .Site.Languages }}
                                    {{ if not ( eq . $.Site.Language )}}
                                        {{ range $.Translations }}
                                            <a href="{{ .Permalink }}" class="nav-link language">{{ .Language.LanguageName }}</a>
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div> 
                    </div>
                    </ul>
            </div>
  
           
<!--    DROPDOWN MENU -->



 <section class="navigation">   
                <a class="navbar-brand" href='{{ "/" | relLangURL }}'>
                    <img class="header-logo" src="{{ $.Site.Params.logo }} " alt="Ignite Procurement Logo"> 
                </a>   
                <div class="button_container" id="toggle">
                  <span class="top"></span>
                  <span class="middle"></span>
                  <span class="bottom"></span>
                </div>
                
                <div class="overlay" id="overlay">
                    <script>
                        document.querySelector('#toggle').addEventListener('click', (e) => {
                            e.target.classList.toggle('active');
                            document.querySelector('#overlay').classList.toggle('open')
                        })
                    </script>     
                    <nav class="overlay-menu">
                      <ul class="overlay-list">



                       {{ range .Site.Menus.services}}
                            <li class="overlay-list-item">
                                <a class="nav-reg" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}

                            {{ range .Site.Menus.main}}
                            <li class="overlay-list-item">
                                <a class="nav-reg" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                            {{ range .Site.Menus.kontakt}}
                            <li class="">
                                <a class="nav-reg" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                          {{ range .Site.Menus.blogg}}
                            <li class="overlay-list-item">
                                <a class="nav-reg" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        
                            {{ range .Site.Menus.secondary}}
                            <li class="">
                                <a class="nav-reg" href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                            <div class="language-list">
                                    {{ if .Site.IsMultiLingual }}
                                    {{ range .Site.Languages }}
                                    {{ if eq . $.Site.Language }}
                                <!--    <a href="#" class="nav-link language">{{ .LanguageName }}</a> -->
                                    {{ else }}
                                    {{ range $.Translations }}
                                            <a href="{{ .Permalink }}" class="nav-link language">{{ .Language.LanguageName }}</a>
                                            {{ end }}
                                        {{ end }}
                                        {{ end }}
                                    {{ end }}
                            </div> 
                            {{ range .Site.Menus.btn}}
                            <div class="nav-reg">
                                <button class="btn-demo" data-toggle="modal" data-target="{{ .Identifier }}">{{ .Name }}</button>                         
                            </div>
                            {{ end }}
                      </ul>
                      
                      <div class="language-list">
                            {{ if .Site.IsMultiLingual }}
                            {{ range .Site.Languages }}
                            {{ if eq . $.Site.Language }}
                            {{ else }}
                            {{ range $.Translations }}
                                    <a href="{{ .Permalink }}" class="nav-link language">{{ .Language.LanguageName }}</a>
                                    {{ end }}
                                {{ end }}
                                {{ end }}
                            {{ end }}
                        </div> 
                      
                  </nav>
            </div>
          
        </section> 


    </div>
</nav>
