<section class="d-flex bd-highlight flex-column-reverse flex-lg-row align-items-center flex-fill">
    <div class="header-content p-2 bd-highlight pr-sm-3 pr-lg-5 flex-fill">
                    <h1>{{.Title}}</h1>
                    <h4>{{.Description}}</h4>                                                               
    </div>            
    <div class="header-content p-2 bd-highlight pl-sm-3 pl-lg-5 flex-fill">
            <img class="header-content-img" src="{{ .Params.Image }}">
     </div>
</section> 