<section class="header d-flex bd-highlight flex-column-reverse flex-lg-row align-items-center flex-fill">
    <div class="header-content p-2 bd-highlight pr-sm-3 pr-lg-5 flex-fill">
                    <h1>{{.Title}}</h1>
                    <h4>{{.Description}}</h4>  
                    {{ .Content }} 
                    <div class="modal fade" id="modalbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                          
                              <!--Content-->
                              <div class="modal-content">
                          
                                <!--Body-->
                                <div class="modal-body mb-0 p-0">
                          
                                   <!-- Start of Meetings Embed Script -->

                                   <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/post3?embed=true"></div> 

                                   <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script> 

                                  <!-- End of Meetings Embed Script -->
                                                       
                                </div>
                          
                                <!--Footer-->
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                          
                                </div>
                          
                              </div>
                              <!--/.Content-->
                          
                            </div>
                          </div>                                                            
    </div>            
    <div class="header-content p-2 bd-highlight pl-sm-3 pl-lg-5 flex-fill">
            <img class="header-content-img" src="{{ .Params.Image }}">
     </div>
</section> 