{{ define "main" }}
<section class="container">
        <div class="header-content  flex-fill bd-highlight pr-sm-3 pr-lg-5">
                {{ with .Site.GetPage "header" }}
                {{ partial "top-banner.html" . }}
                {{ end }}  
        </div>
        
        
</section>        

<!-- <div class="container-fluid">
    <div class="row">
        <div class="container px-2">
            <div class="row vertical-align py-5">
                <div class="col-md-6 pr-5">
                    <h1>{{ .Site.Params.header }}</h1>
                    <h4>{{ .Site.Params.description }}</h4>
                    <div class="mt-5">
                            <a href="ignite-analytics"><button type="button" class="btn btn-primary btn-lg">Finn ut mer</button></a>
                        <a href="https://meetings.hubspot.com/borge-langedal" target="blank"><button type="button" class="btn btn-outline-primary">Book Demo</button></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-image-container">
                        <img class="first with-shadow" src="{{ $.Site.Params.image }}">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>  -->
<div class="container">
    {{ with .Site.GetPage "customers" }}
    {{ partial "sections/customers.html" . }}
    {{ end }}
 </div>
 <!-- Tittel-->
<div class="container pt-5">
        {{ with .Site.GetPage "tjenester-tittel" }}
        {{ partial "tittel.html" . }}
        {{ end }}
</div>
<div class="full-width py-5">
        <div class="">
                 {{ with .Site.GetPage "main-services" }}
                     {{ partial "sections/main-services.html" . }}
                {{ end }}
                <!--MODAL SERVICES NOR-->
                <div class="modal fade" id="modalbooknorw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                      
                          <!--Content-->
                          <div class="modal-content">
                      
                            <!--Body-->
                            <div class="modal-body mb-0 p-0">
                      
                              <!-- Start of Meetings Embed Script --> 

                                <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/post3/ignite-mte-nor?embed=true"></div> 

                                <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script> 

                            <!-- End of Meetings Embed Script --> 
                                                                            
                            </div>
                      
                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                      
                            </div>
                      
                          </div>
                          <!--/.Content-->
                      
                </div>
            </div> 
            <!--MODAL SERVICES Eng-->
            <div class="modal fade" id="modalbookeng" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">                
                      <!--Content-->
                      <div class="modal-content">
                                        <!--Body-->
                        <div class="modal-body mb-0 p-0">                
                          <!-- Start of Meetings Embed Script --> 

    <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/post3/ignite-services-mte-eng?embed=true"></div> 

    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script> 

  <!-- End of Meetings Embed Script -->                                                                         
                        </div>         
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                          <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>               
                        </div>                 
                      </div>
                      <!--/.Content-->              
            </div>
        </div> 



         </div>
</div>
<div class="full-width py-5">
        <div class="container">
                 {{ with .Site.GetPage "quote" }}
                     {{ partial "sections/quote.html" . }}
                {{ end }}
         </div>
</div>
<section class="container">
        {{ with .Site.GetPage "newsletter" }}
        {{ partial "sections/newsletter.html" . }}
        {{ end }}
 </section>
<div class="container px-2">            
 <div class="row py-5">
     <div class="col">      
            {{ with .Site.GetPage "karrierebanner" }}
                {{ partial "sections/karrierebanner.html" . }}
            {{ end }}
        </div>
    </div>
</div>   
{{ end }}

