{{ define "main" }}

<div class="container-fluid bg-light">
    <div class="row">
        <div class="container px-2">
            <div class="row vertical-align py-5">
                <div class="col-md-6 pr-5">
                    <h2>{{ $.Site.Params.header }}</h2>
                    <p>{{ $.Site.Params.description }}</p>
                    <div class="mt-5">
                            <button type="button" class="btn btn-primary mr-3 mt-3">Finn ut mer</button>
                            <button type="button" class="btn btn-outline-primary mt-3">Book demo</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-image-container">
                        <img class="first with-shadow" src="{{ $.Site.Params.image }}">
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col">
                    {{ with .Site.GetPage "customers" }}
                        {{ partial "sections/customers.html" . }}
                    {{ end }}
                </div>
            </div>
            {{ with .Site.GetPage "career" }}
                {{ partial "sections/career.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ end }}