<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
                    <img class="img-fluid imgthumb" src="{{with .Params.image}}{{ . | relURL }}{{end}} " alt="{{ .Params.Title }} bilde">
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">
                {{if isset .Params "ingress"}}
                    {{.Params.ingress}}
                {{else}}
                    {{if (len .Summary) 200}}
                        {{ slicestr .Summary 0 200}}
                    {{else}}
                        {{.Summary}}
                    {{end}}
                {{end}}</h4>            
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {{if isset .Params "author"}}
                {{if isset .Site.Data.authors .Params.author}}
                {{ $author := index $.Site.Data.authors .Params.author}}             
                    <span class="meta-footer-thumb">
                    <img class="author-thumb" src="{{ $author.image  }}" alt="{{ $author.title}}">
                    </span>                
                    <span class="author-meta">
                    <span class="post-name">{{ $author.title}}</a></span><br/>
                {{end}}
                {{end}}
                <span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }} - {{if gt (countwords .Content ) 220.00}}{{math.Round (div (countwords .Content) 220.0) }}{{else}}1{{end}} min read </span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->