{{ define "main" }}
<section class="container">
    {{ with .Site.GetPage "om-oss" }}
    {{ partial "top-banner.html" . }}
{{ end }}
</section>
<div class="full-width py-5">
        <div class="container">
                 {{ with .Site.GetPage "services" }}
                     {{ partial "sections/services.html" . }}
                {{ end }}
        </div>
</div>                
<section class="container">
        <div class="col-md-6">
                {{ .Content }}
        </div>
        <div class="col-md-6">
           
        </div>
        
</section>
<section class="container">
    {{ with .Site.GetPage "team" }}
        {{ partial "sections/team.html" . }}
    {{ end }}
</section>
<div class="container p-5">
        {{ with .Site.GetPage "partners" }}
        {{ partial "sections/partners.html" . }}
        {{ end }}
    </div>
<section class="container">
            {{ with .Site.GetPage "newsletter" }}
            {{ partial "sections/newsletter.html" . }}
            {{ end }}
</section>
{{ end }}