{{ define "main" }}
  <section style="background:#f2f2f2">
    <div class="container demo-container">
      <div class="demo-content">
        <h2>{{ .Params.header }}</h2>
        <h4>{{ .Description }}</h4>
        <div class="">
          {{ .Content }}
        </div>
      </div>
      <div class="demo-img"><img  src="{{ .Params.image }}" /></div>
    </div>
  </section>
  <section style="background:white;">
    <div class="demo-subcontent">
    {{range .Params.subcontent}}
      <div class="demo-content">
        <img src="{{.image}}"/>
        <h4>{{.heading}}</h4>
        <p>{{.text}}</p>
      </div>
    {{end}}
    </div>
  </section>
{{ end }}
