{{ define "main" }}
<section>
            <div>
            {{ with .Site.GetPage "mainteam" }}
            {{ partial "sections/team.html" . }}
            {{ end }}

        </div>
</section>
{{ with .Site.GetPage "contactform" }}
{{ partial "sections/contactform.html" . }}
{{ end }}
 <section>
        <div class=" wrap">
                <div class="gmap_canvas">
                  <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=epicenter%20oslo&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <style>.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style>
                </div>
 </section>   
 <section class="container">
        {{ with .Site.GetPage "newsletter" }}
        {{ partial "sections/newsletter.html" . }}
        {{ end }}
 </section>
 <div class="container px-2">            
        <div class="row py-5">
            <div class="col">      
                   {{ with .Site.GetPage "career" }}
                       {{ partial "sections/career.html" . }}
                   {{ end }}
               </div>
           </div>
       </div>   
    {{ end }}