<!--MODAL ACADEMY Eng-->
<div class="modal fade" id="modalacademy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> 
      <!--Content-->
      <div class="modal-content"> 
        <!--Body-->
        <div class="modal-body mb-0 p-5">
            <h3 class="modalheading">{{ .Title }}</h3>
          <!-- Start of Meetings Embed Script --> 
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>      
            hbspt.forms.create({
          
                          portalId: "4304957",
          
                          formId: "238cefc4-fb32-4bf9-9604-ca53601f5dab"      
          });       
          </script>

        <!-- End of Meetings Embed Script -->                                                        
        </div> 
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-outline-primary green btn-rounded btn-md" data-dismiss="modal">Close</button> 
        </div>
      </div>
      <!--/.Content--> 
  </div>
</div>     