<!--MODAL ACADEMY NOR-->
<div class="modal fade" id="modalacademynor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">                 
    <!--Content-->
    <div class="modal-content">                  
     <!--Body-->
       <div class="modal-body mb-0 p-5">
          <h3 class="modalheading">{{ .Title }}</h3>
           <!-- Start of Meetings Embed Script -->         
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
             <script>
                hbspt.forms.create({
                portalId: "4304957",
                formId: "a3036ba4-0468-45c6-86d6-8473ddce79eb"
                });
             </script>
          <!-- End of Meetings Embed Script -->                                                                         
        </div>                  
       <!--Footer-->
         <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-outline-primary green btn-rounded btn-md" data-dismiss="modal">Close</button>
          </div>                 
    </div>
    <!--/.Content-->                 
  </div>
</div>