<div
  portalId="4304957"
  formId="ec8bea86-3863-47f8-87f4-5130968cd023"
  targetId="bookcontentnor"
  class="modal fade"
  id="modalbooknor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-3">
        <!-- Start of Meetings Embed Script -->
        <h3 class="modalheading">{{ .Title }}</h3>
        <!-- Start of Meetings Embed Script -->
        <div id="bookcontentnor"></div>

        <!-- End of Meetings Embed Script -->
        <!-- End of Meetings Embed Script -->
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded btn-md modal-btn"
          data-dismiss="modal"
        >
          Lukk
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
