<div
  portalId="4304957"
  formId="4228e038-d9f5-40f8-954a-b44bdc8a1fec"
  targetId="bookcontent"
  class="modal fade"
  id="modalbook"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body mb-0 p-5">
        <h3 class="modalheading">{{ .Title }}</h3>
        <!-- Start of Meetings Embed Script -->
        <div id="bookcontent"></div>
        <!-- End of Meetings Embed Script -->
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded btn-md"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
