<div class="modal fade" id="modalbooknorw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document"> 
      <!--Content-->
      <div class="modal-content"> 
        <!--Body-->
        <div class="modal-body mb-0 p-0"> 
          <!-- Start of Meetings Embed Script --> 
          <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/post3/ignite-mte-nor?embed=true"></div> 
          <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script> 
        <!-- End of Meetings Embed Script -->                               
        </div> 
        <!--Footer-->
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-outline-primary yellow btn-rounded" data-dismiss="modal">Lukk</button>
        </div>
      </div>
      <!--/.Content-->
  
    </div>
  </div>