{{ define "main" }}
<section
  class="container academy-landing d-flex bd-highlight flex-column flex-lg-row align-items-center mb-5"
>
{{ if eq .Params.color "services"}}
  <style>.far.fa-check-circle{color:#ebaf41 !important;}</style>
{{else if eq .Params.color "academy"}}
<style>.far.fa-check-circle{color:#31b096 !important;}</style>
{{else}}
<style>.far.fa-check-circle{color:#3c6fe9 !important;}</style>
{{end}}
  <div class="ty header-content p-2 flex-fill bd-highlight pr-sm-3 pr-lg-5">
    <h1><i class="far fa-check-circle"></i></h1>
    <h3>{{.Params.header}}</h3>
    <h4>{{.Description}}</h4>
    <code>{{ .Params.GoToURL }}</code>
  </div>
</section>
{{end}}
